<h1><%= @author.first_name %> <%= @author.last_name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<a href="/authors/<%= @author.id %>/edit">edit</a>)</h1>

<br>

<h3>Books by <%= @author.first_name %></h3>

<br>
<a href="/authors">back to author list</a>
