<div class="container">
  <header><img src="http://www.tabletmag.com/wp-content/files_mf/books3cur.jpg" style="width:100%" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Book Paradigm!</h2>

    <div class="content">
      <p><a href="/authors">View our Authors ></a></p>
      <p><a href="/books">View our Books ></a></p>
      <p><a href="/publishers">View our Publishers ></a></p>
    </div>

  </div>
</div>
